<div class = "span6">
<h1>KegKong Reset</h1>
<br>
<form action="/keg/create" method="post">
  <label for="beer_type">Beer Type:</label>
  <input id="beer_type" name="keg[beer_type]" type="text" value="<%= @keg.beer_type %>" />
  <br><br>

  <label for="max_volume">Keg Volume (gal.):</label>
  <input id="max_volume" name="keg[max_volume]" type="text" value="<%= @keg.max_volume%>"></input>
  <br />

  <input type="submit" value="Reset Keg" />
</form>  
</div>



  <div class = "span8"><img style = "border-radius: 75px; margin-top: 20px;" src = "http://confusedmatthew.com/images/king_kong_pic.jpg"</div> 